
body {
  background-color: grey;
  color:  white;
  font-size:  32px;
}

a {
  color: #0047b3;
}

a:hover {
  color:  gold;
}

table, tr, td {
  column-width:  100%;
  table-layout:  fixed;
  border: 4px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: left;
}

th {
  text-align: center;
  font-weight: bold;
  font-size:  36px;
}

p {
  font-size:  40px;
}

h1 {
  font-size:  60px;
}

h2 {
  font-size:  50px;
}

input, textarea {
  font-size:  40px;
  border: 1px solid black;
}

.button {
  font-size:  36px;
  color:  black;
  background-color: #0066ff;
  padding:  5px;
}




